/* Estilos Essenciais da Sidebar */
.sidebar {
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: #1a0033; /* Cor escura do seu tema */
    color: #fff;
    padding: 48px 20px;
    border-radius: 0px 32px 32px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo-sidebar {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    /* Adapte a cor do logo para que seja visível no fundo escuro, se necessário */
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
}

.sidebar-nav a {
    display: block;
    padding: 10px 15px;
    margin-bottom: 8px;
    color: #f6e9ff;
    text-decoration: none;
    border-radius: 24px;
    transition: background-color 0.3s;
}

.sidebar-nav a:hover {
    background-color: #90f;
    color: #fff;
}

.sidebar-nav a.active {
    background-color: #f3c; /* Cor de destaque */
    color: white;
    font-weight: bold;
}

.main-content-wrapper {
    margin-left: 250px; /* Cria espaço para a barra lateral */
    padding: 20px;
}

.sidebar-footer {
    padding-top: 15px;
    border-top: 1px solid #331a40;
    text-align: center;
}

.sidebar-footer p {
    color: #ccc;
    margin-bottom: 5px;
}

.btn-logout {
    display: block;
    background-color: #f50c33; 
    color: white;
    padding: 12px;
    border-radius: 32px;
    text-decoration: none;
    margin-top: 10px;
}